{% load custom_tags %}
{% load cache %}
{% load i18n %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        <!-- Favicon-->
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% block template_css %}
        {% endblock template_css %}
    </head>
            {% get_current_timezone as TIME_ZONE %}
            <style>
            {% if current_time.hour >= 19 or current_time.hour <= 7 %}
            body {
                color: #8694a4;
                background: #1f2d3b;
            }
            body a {
                color: #809fff;
            }
            .bg-light {
                --bs-bg-opacity: 0.8;
            }
            .card {
                --bs-card-bg: #212529;
            }
            .link-dark {
                color: #297ffd !important;
            }
            .link-dark:hover, .link-dark:focus {
                color: #a234ef !important;
            }
            {% endif %}
        </style>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">{% trans "МОЙ КОТЁЛ" %}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">{% trans "Главная" %}</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Справочник ошибок" %}</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="{% url 'posts_list' %}">{% trans "Все статьи" %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'posts_search' %}">{% trans "Поиск по статьям" %}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Информация" %}</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/news">{% trans "Новости" %}</a></li>
                                    <li><a class="dropdown-item" href="/payment-methods">{% trans "Способы оплаты" %}</a></li>
                                    <li><a class="dropdown-item" href="/faq">{% trans "ЧаВо" %}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/about">{% trans "О сервисе" %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="/price">{% trans "Тарифы" %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">{% trans "Контакты" %}</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="/lk" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Личный кабинет" %}</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="/subscriptions">{% trans "Подписки" %}</a></li>
                                    <li><a class="dropdown-item" href="/lk">{% trans "ЛК" %}</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="/accounts/login">{% trans "Войти" %}</a></li>
                                    <li><a class="dropdown-item" href="/accounts/signup">{% trans "Регистрация" %}</a></li>
                                {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-wide-connected"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li class="dropdown-item">
                                        <!-- Change locale -->
                                        <form action="{% url 'set_language' %}" method="POST">
                                            {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
                                            <input type="hidden" name="next" value="{{ redirect_to }}">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            <select name="language" id="">
                                                {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                                                {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                                                {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                                        {{ language.name_local }} - {{ language.code }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" value="Ok">
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        {% get_current_timezone as TIME_ZONE %}
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <label for="timezone">Time zone:</label>
                                            <select name="timezone">
                                                {% for tz in timezones %}
                                                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" value="ok">
                                        </form>
                                            {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block page_content %}
            {% endblock page_content %}
        </main>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">{% copyright '%Y' %}</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">{% trans "Конфиденциальность" %}</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">{% trans "Правила" %}</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/contact/">{% trans "Контакты" %}</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {% load static %}
        <script src="{% static 'js/scripts.js' %}"></script>
        {% block template_js %}
        {% endblock template_js %}
    </body>
</html>